@import "tailwindcss";

@theme {
  --color-background: #f3fcfa;
  --color-primary: #F05D62;
  --color-primary-hover: #D94C51;
  --color-primary-light: #F9B2B5;
  --color-primary-dark: #a82428;
  --color-secondary: #61C4B4;
  --color-secondary-hover: #57B0A2;
  --color-secondary-light: #97F3E4;
  --color-light-gray: #d9e1e8;
}
